---
layout: archive
title: "Theatre Royal - EOSRemote"
permalink: /eosremote/
categories: TheatreRoyal EOSRemote
author_profile: false
---

{% include base_path %}

<!--

site = {{ site }}

site.collections = {{ site.collections }}

site.collections.notes = {{ site.collections.notes }}

site.collections.notes.docs = {{ site.collections.notes.docs }}

site.categories = {{ site.categories }}

site.theatreroyal = {{ site.theatreroyal  }}

-->

<!-- page.categories = '{{ page.categories | join: "', '" }}' -->
<!-- page.categories[0] = '{{ page.categories[0] }}' -->
<!-- page.categories[1] = '{{ page.categories[1] }}' -->
<!-- page.categories[2] = '{{ page.categories[2] }}' -->
{% assign page_categories = page.categories | split: ' ' %}
<!-- page_categories = '{{ page_categories | join: "', '" }}' -->
<!-- page_categories[0] = '{{ page_categories[0] }}' -->
<!-- page_categories[1] = '{{ page_categories[1] }}' -->
<!-- page_categories[2] = '{{ page_categories[2] }}' -->
<div class="grid__wrapper">
  {% for post in site.posts %}
    <!-- post.categories = '{{ post.categories | join: "', '" }}' -->
    <!-- post.categories[0] = '{{ post.categories[0] }}' -->
    <!-- post.categories[1] = '{{ post.categories[1] }}' -->
    <!-- post.categories[2] = '{{ post.categories[2] }}' -->
    {% assign do = true %}
    {% assign i = 0 %}
    {% for category in page_categories %}
      <!-- i = '{{ i }}'; category = '{{ category }}'; post.categories[i] = '{{ post.categories[i] }}' -->
      {% if category != post.categories[i] %}
        {% assign do = false %}
      {% endif %}
      {% assign i = i | plus: 1 %}
    {% endfor %}
    <!-- do = '{{ do }}' -->
    {% if do %}
      {% include archive-single.html type="grid" %}
    {% endif %}
  {% endfor %}
  {% for post in site.notes %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>