---
layout: archive
---
<h3>(Theatre Archive Layout)</h3>
{{ content }}

{%- if page.feature_shows -%}
  <h3 id=featured-shows>Featured Shows</h3>
  {% include feature_show %}

  <h3 id=other-shows>Other Shows</h3>
{%- endif -%}

{%- assign page_entries_layout = page.entries_layout | default: 'list' -%}
{%- assign collections = page.collections | default: "posts" -%}
<div class="entries-{{ page_entries_layout }}">
  {%- for collection in collections -%}
    {%- assign this_collection = site[collection] | sort: "sort_date" | reverse -%}
    {%- for post in this_collection -%}
      {%- if post.hidden -%}
        {%- assign do = false -%}
      {%- else -%}
        {%- assign do = true -%}{%- assign i = 0 -%}
        {%- for category in page.categories -%}
          {%- if category != post.categories[i] %}{% assign do = false %}{% endif -%}
          {%- assign i = i | plus: 1 -%}
        {%- endfor -%}
        {%- assign post_tags = post.tags | join: '><' | prepend: '<' | append: '>' -%}
        {%- for tag in page.tags -%}
          {%- assign tag2 = tag | prepend: '<' | append: '>' -%}
          {%- assign tags = post_tags | remove: tag2 -%}
          {%- if tags == post_tags %}{% assign do = false %}{% endif -%}
        {%- endfor -%}
        {%- for show in page.feature_shows -%}
          {%- if show == post.slug %}{% assign do = false %}{% endif -%}
        {%- endfor -%}
      {% endif -%}
      {%- if do -%}
        {%- include archive-single-show.html type=page_entries_layout -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</div>
